name: google-cloud-run

on:
  push:
    branches:
      - master

env:
  PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_NAME }}
  REGION: us-east1
  REPO_NAME: nextjs-todo-app

jobs:
  build-and-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: ${{ steps.deploy-url.outputs }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Authenticate with Google Cloud
      - id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}"

      # Setup gcloud CLI/SDK
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Set environment variables
        run: |
          echo "API_KEY=${{ secrets.GOOGLE_ID }}" >> .env
          echo "API_KEY=${{ secrets.GOOGLE_SECRET }}" >> .env
          echo "API_KEY=${{ secrets.MONGODB_URI }}" >> .env
          echo "API_KEY=${{ secrets.SECRET }}" >> .env
          echo "SECRET_KEY=${{ secrets.APP_URL }}" >> .env
          echo "SECRET_KEY=${{ secrets.NEXTAUTH_URL }}" >> .env

      - name: Build and tag the docker image
        run: |-
          docker build -f Dockerfile.prod . --tag gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Push the image to the Google Container Registry (GCR)
        run: |-
          docker push gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Deploy
        id: deploy
        run: |-
          gcloud run deploy $REPO_NAME \
          --region $REGION \
          --image gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --platform "managed" \
          --quiet

      - name: Deployment URL
        id: deploy-url
        run: |-
          gcloud run services describe $REPO_NAME --region $REGION --format 'value(status.url)'

